<div class="input_form">
	<%= form_tag do %>
		<div id="login">
			<h3>Please log in</h3>
				<div>
					<%= label_tag :email, 'Name:' %>
					<%= text_field_tag :email, params[:email] %>
				</div>
				<div>
					<%= label_tag :password, 'Password:' %>
					<%= password_field_tag :password, params[:password] %>
				</div>
				<div>
				<%= submit_tag "Login" %>
				</div>
		</div>
	<% end %>
</div>