<%= form_tag do %>
	<div id="section_title" class="col-xs-10 col-sm-5 col-md-4 col-lg-4">
		<%= t('log_in') %> 
		<% unless session[:role] == "Admin" %>
		  <div id="login_link"><%= link_to t('user_register'), new_user_path %></div>
		<% end %>
	</div>
	<div id="input_form" class="col-xs-10 col-sm-5 col-md-4 col-lg-4">
		<div class="field">
			<%= label_tag :email, 'Email' %>
			<%= text_field_tag :email, params[:email], :autofocus=>true %>
		</div>
		<div class="field">
			<%= label_tag :password, t('password') %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div class="actions">
			<%= submit_tag "LOGIN" %>
		</div>
	</div>
<% end %>
