	<%= form_tag do %>
	<div id="section_title"> Prijava </div>
	<div id="input_form">

				<div class="field">
					<%= label_tag :email, 'Email:' %>
					<%= text_field_tag :email, params[:email], :autofocus=>true %>
				</div>
				<div class="field">
					<%= label_tag :password, 'Šifra:' %>
					<%= password_field_tag :password, params[:password] %>
				</div>
				<div class="field">
				<%= submit_tag "LOGIN" %>
				</div>
		</div>
	<% end %>
