<%= form_for(@user) do |f| %>
  <div id="input_form" class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <% if session[:role] == "Admin" %>
      <div class="field">
        <%= label :role_id, "Role" %><br>
        <%= select_tag(:role, options_for_select(Role.dropdown_options, :selected => Role.selected(@role))) %>
      </div>
    <%end%>
      <div class="field">
        <%= f.label :name, t('name') %><br>
        <%= f.text_field :name, :autofocus=>true %>
      </div>
      <div class="field">
        <%= f.label :surname, t('surname') %><br>
        <%= f.text_field :surname %>
      </div>
      <div class="field">
        <%= f.label :email, "Email" %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, t('password') %><br>
        <%= f.password_field :password_digest %>
      </div>

      <div class="actions">
        <% if session[:role] == "Admin" %>
          <%= f.submit "Submit" %>
        <% else %>
          <%= f.submit "REGISTER" %>
        <% end %>
        </div>
      </div>

<% end %>
