<div id="kupovina" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<span id="narudzba"><%= t('order') %>: </span>
	<span id="broj_proizvoda">  
		<%= @cart.number_of_items %>  
		<%= t('items') %>
	</span>
	<br><br>
	<div id="price_details">
	  <span id="cijena"><%= t('price') %></span> <span class="price"><%= @cart.total_price %> KM</span><br><br>
	  <span id="cijena"><%= t('shipping') %></span><span class="price"> 40 KM </span>
	</div><br>
	<div id="ukupno">
	  <span id="cijena"><%= t('total') %></span> <span class="price"><%= (@cart.total_price) +40 %> KM</span><br><br>
	</div>
</div>
