<div id="section_title"> <%= t('your_cart') %> </div>
<div id="cart_frame">
 <% @line_items.each do |line_item| %>
  <% if line_item.cart == @cart %>
  	<div id="cart_line_item">
		<div id="slika"><%= image_tag(line_item.product.image_url) %></div>	
			<div id="description">
				<span><%= t('title') %>: <%= line_item.product.title %></span><br>
				<span><%= t('description')%>: <%= sanitize(line_item.product.description) %></span>
			</div>
			<div id="price_details">
				<span id="cijena"><%= t('price') %></span> <span class="price"><%= line_item.product.price %> KM</span><br><br>
				<span id="cijena"><%= t('quantity') %></span><span class="price"> <%=line_item.quantity %></span>
			</div>	
	</div>
	<% end %>
<% end %>
</div>
<div id="purchuase">
	<%= render(@cart) %>
	<% if @cart.number_of_items >0 %>
		<div id="entry-button">
			<%= button_to t('empty_cart'), @cart,  :class => 'leave_button', method: :delete, data: { confirm: 'Are you sure?' } %>
		    <div class="buy_button"> 
		    	<% if session[:user_id] and @user.shipping_addresses.any? %>
		    		<a href="<%=new_charge_url%>"><%= t('continue') %></a>
		    	<% else %>
		    		<a href="<%=new_address_url%>"><%= t('continue') %></a>
		    	<% end %>
		    </div>
		</div>
	<% end %>
</div>