<div id="section_title"> Vaša korpa </div>
<div id="cart_frame">
 <% @line_items.each do |line_item| %>
  <% if line_item.cart == @cart %>
  	<div id="cart_line_item">
		<div id="slika"><%= image_tag(line_item.product.image_url) %></div>	
			<div id="description">
				<span>Naziv: <%= line_item.product.title %></span><br>
				<span>Opis: <%= sanitize(line_item.product.description) %></span>
			</div>
			<div id="price_details">
				<span id="cijena">Cijena:</span> <span class="price"><%= line_item.product.price %> KM</span><br><br>
				<span id="cijena">Količina:</span><span class="price"> <%=line_item.quantity %></span>
			</div>	
	</div>
	<% end %>
<% end %>
</div>
<div id="purchuase">
	<%= render(@cart) %>
	<% if @cart.number_of_items >0 %>
		<div id="entry-button">
			<%= button_to 'ISPRAZNI KORPU', @cart,  :class => 'leave_button', method: :delete, data: { confirm: 'Are you sure?' } %>
		    <div class="buy_button"> <a href="<%=new_address_url%>"> NASTAVI </a></div>
		</div>
	<% end %>
</div>