<%= form_tag  addresses_path do %>  
  <div id="section_title" style="margin-left: 50px"> Adresa za dostavu </div>
  <div id="input_form">
    <div class="field">
      <%= label :user_name, 'Ime' %>
      <%= text_field :user, :name %>
    </div>
    <div class="field">
      <%= label :user_surname, 'Prezime'%>
      <%= text_field :user, :surname %>
    </div><br>
    <div class="field">
      <%= label :name, 'Adresa' %>
      <%= text_field :address, :name %>
    </div>
    <div class="field">
      <%= label :number, 'Broj' %>
      <%= text_field :address, :number %>
    </div>
    <div class="field">
      <%= label :floor, 'Sprat' %>
      <%= text_field :address, :floor %>
    </div>
    <div class="field">
      <%= label :city, 'Grad' %>
      <%= text_field :city, :name %>
    </div>
    <div class="field">
      <%= label :postal_code, 'ZIP' %>
      <%= text_field :city, :postal_code %>
    </div>
      <div class="field">
      <%= label :country, 'Država' %>
      <%= text_field :country, :name %>
    </div>
   <div id="section_title" style="margin-left: -30px;"> Adresa za račun </div>
    <div class="field" style="margin-top: 20px">
      <%= check_box_tag :same_as_shipping, 1, true %>
      <%= label :same_as_shipping, 'Koristi adresu za dostavu' %>
    </div>
    <br>
  </div>
<div id="purchuase">
  <%= render(@cart) %>
  <div id="entry-button">
      <%= submit_tag("NASTAVI", :class => 'buy_button')  %>
      <div class="leave_button"> <a href="<%=store_url%>"> ODUSTANI </a></div>
  </div>
</div>
<br><br>
  <div id="input_form_2" style="clear:both;">
    <div class="field">
      <%= label :name, 'Adresa' %>
      <%= text_field_tag "billing_address[name]" %>
    </div>
    <div class="field">
      <%= label :number, 'Broj' %>
      <%= text_field_tag "billing_address[number]" %>
    </div>
    <div class="field">
      <%= label :floor, 'Sprat' %>
      <%= text_field_tag "billing_address[floor]" %>
    </div>
    <div class="field">
      <%= label :city, 'Grad' %>
      <%= text_field_tag "billing_address[city]"%>
    </div>
    <div class="field">
      <%= label :postal_code, 'ZIP' %>
      <%= text_field_tag "billing_address[postal_code]" %>
    </div>
      <div class="field">
      <%= label :country, 'Država' %>
      <%= text_field_tag "billing_address[country]" %>
    </div>
  </div>


<% end %>

