<%= form_for(@category) do |f| %>
  <div id="input_form" class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <div class="field">
      <%= label :name_en, "Name (en)" %><br>
      <%= f.text_field :name_en %>
    </div>
    <div class="field">
      <%= label :name_bs, "Name (bs)" %><br>
      <%= f.text_field :name_bs %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
