<div class="container-fluid">
<div class="row">
  <div class="filters hidden-xs col-md-offset-1 col-lg-offset-1 col-sm-2 col-md-2 col-lg-2">
    <div class="cat-title">  FILTER </div>
    <div class="filters-part">
      <div class="field">
      <%= label :brand_id, "Brend:" %><br>
      <%= select_tag(:brand, options_for_select(Brand.dropdown_options, :selected => Brand.selected(@category))) %>
      </div>
      <div class="field">
      <%= label :price, "Cijena:" %><br>
      <%= select_tag(:price, options_for_select([["---",-1], ["< 500KM", 1], ["500KM - 1000KM", 2], ["1000KM - 2000KM", 3], ["2000KM - 5000KM", 4], ["> 5000KM", 5]], :selected => -1)) %>
    </div>
    </div>
  </div>
  <div id="products_list" class="col-xs-9 col-md-offset-1 col-lg-offset-1 col-sm-8 col-md-8 col-lg-8">
    <div class="cat-title col-xs-9 col-sm-8 col-md-8 col-lg-8"> <%= @category.name %></div>
    <div class="cat-sort col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
    Cijena: 
    <%= select_tag(:sort, options_for_select([["---",-1], ["od veće ka manjoj", 1], ["od manje ka većoj", 2]], :selected => -1)) %>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <% @category.products.each do |product| %>
        <div class="entry col-xs-7 col-sm-3 col-md-2 col-lg-2">
         <div class="img_div">
            <a href="<%= product_path(product) %>">
            <% if product.product_images.any? %>
              <%= image_tag(product.product_images.first.avatar.url(:medium)) %></td>
            <% else %>
              <img src="http://ktu.edu/uploads/files/fakultetai/Elektros%20ir%20elektronikos%20fakultetas/files/images/no-image-half-landscape.png">
            <% end %>
            </a>
         </div>
         <% if product.discount %>
            <div class="discount"><%= product.discount.to_i %>%</div>
          <% end %>
          <div class="price_line">
            <div class="title"><%= product.title %></div>
            <% if product.discount %>
              <span class="price-old"><span class="price"><%= product.price %>KM</span></span>
              <span class="price_discount current-price"><%= product.sale_price %>KM </span>
            <% else %>
              <span class="price current-price"><%= product.price %>KM</span>
            <% end %>
          </div>
            <% if session[:role] != 'Admin' %>
                <%= button_to t('add_to_cart'), line_items_path(product_id: product), remote: true, class: 'cart_button_buy button_store hidden-xs' %>
                <div class="cart_button_loading hidden-xs"></div> 
            <% else %>
              <%= link_to 'Show', product, class: "product_category_link" %>
              <%= link_to 'Edit', edit_product_path(product),class: "product_category_link" %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "product_category_link" %>
            <% end %>
            <% if product.brand %>
              <input type="hidden" class="brand_name" value="<%= product.brand.name %>">
            <% end %>
          </div>   
        <% end %>
      </div>
  </div>
</div>
</div>

<script>
$(document).ready(function() {

  $firstLoaded = $("#products_list .entry");

  $(".cart_button_buy").click(function() {
    $(this).css("display","none");
    var element = $(".cart_button_buy").index(this);
    var loading = $(".cart_button_loading").get(element);
    $(loading).css("display","inline-block");
    $(loading).addClass("click_loading");
    var done = $(".cart_button_buy").get(element);
    setTimeout(function(){ 
      $(loading).addClass("click_checked").removeClass("click_loading");
    }, 2000);
    setTimeout(function(){
      $(loading).removeClass("click_checked");
      $(loading).css("display","none");
      $(done).css("display","inline-block");
    }, 5000);
  });

  $(".entry").hover(function() {
    var mq = window.matchMedia( "(max-width: 991px)" );
    if(!mq.matches) {
      var element = $(".entry").index(this);
      var loading = $(".cart_button_loading").get(element);
      if($(loading).css("display") == "none") {
        var add_to_cart = $(".button_store").get(element);
        $(add_to_cart).css("display","inline-block");
      }
    }
  }, function() {
    var mq = window.matchMedia( "(max-width: 991px)" );
    if(!mq.matches) {
      var element = $(".entry").index(this);
      var add_to_cart = $(".button_store").get(element);
      $(add_to_cart).css("display","none");
    }
    }
  );

  $("select#brand").change(function(){
    filterItems();
  });
  $("select#price").change(function(){
    filterItems();
  });
  $("select#sort").change(function(){
    sortItems();
  });
});

function filterItems() {
  var brandVal = $("select#brand").find("option:selected").val();
  var priceVal = $("select#price").find("option:selected").val();

  var showAllBrands = (brandVal == -1) ? true : false;
  var showAllPrices = (priceVal == -1) ? true : false;

  if(!showAllPrices || !showAllBrands) {
    var brand = $("select#brand").find("option:selected").text().toLowerCase();
    $("#products_list .entry").hide();

    $("#products_list .entry").each(function() {
      var showBrand = false, showPrice = false;

      if(!showAllBrands) {
        var brandText = $(this).find(".brand_name").val(); 
        if(brandText) {
          brandText = brandText.toLowerCase();
          if(brand.indexOf(brandText) != -1)
          {
            showBrand = true;
          }
        }
      }
      else {
        showBrand = true;
      }

      if(!showAllPrices) {
        var priceText = $(this).find(".current-price").text();
         
        if(priceText) {
          priceNumber = Number(priceText.toLowerCase().replace("km",""));
          // What if NaN?
          if(priceNumber) {
            if(priceVal == 1 && priceNumber < 500) {
              showPrice = true;
            }
            else if(priceVal == 2 && (priceNumber >= 500 && priceNumber < 1000)) {
              showPrice = true;
            }
            else if(priceVal == 3 && (priceNumber >= 1000 && priceNumber < 2000)) {
              showPrice = true;
            }
            else if(priceVal == 4 && (priceNumber >= 2000 && priceNumber < 5000)) {
              showPrice = true;
            }
            else if(priceVal == 5 && priceNumber >= 5000) {
              showPrice = true;
            }
          }
        }
      }
      else {
        showPrice = true;
      }

      if(showBrand && showPrice) {
        $(this).show();
      }
    });

  }
  else {
    $("#products_list .entry").show();
  }
  // [["---",-1], ["< 500KM", 1], ["500KM - 1000KM", 2], ["1000KM - 2000KM", 3], ["2000KM - 5000KM", 4], ["> 5000KM", 5]]
}

function sorterAsc(a, b) {
   var priceTextA = $(a).find(".current-price").text();         
    var priceNumberA = Number(priceTextA.toLowerCase().replace("km",""));

    var priceTextB = $(b).find(".current-price").text();         
    var priceNumberB = Number(priceTextB.toLowerCase().replace("km",""));

    var result = priceNumberA - priceNumberB;
    return result;
};

function sorterDesc(a, b) {
   var priceTextA = $(a).find(".current-price").text();         
    var priceNumberA = Number(priceTextA.toLowerCase().replace("km",""));

    var priceTextB = $(b).find(".current-price").text();         
    var priceNumberB = Number(priceTextB.toLowerCase().replace("km",""));

    var result = priceNumberB - priceNumberA;
    return result;
};

function sortItems() {
  var sortVal = $("select#sort").find("option:selected").val();
  var showAll = (sortVal == -1) ? true : false;
  //["---",-1], ["od veće ka manjoj", 1], ["od manje ka većoj", 2]
  if(!showAll) {
    var sortAsc = true;
    if(sortVal == 1) {
      sortAsc = false;
    }
    var prices = $(".current-price");
    $entryArray = $("#products_list .entry");
    if(sortAsc) {
      $entryArray.sort(sorterAsc).appendTo('#products_list');
    }
    else {
      $entryArray.sort(sorterDesc).appendTo('#products_list');
    }
  }
  else {
    //debugger
    $firstLoaded.appendTo('#products_list');
  }
}
</script>

