<%= form_for(@product) do |f| %>
  <% if @product.errors[:title].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors[:title].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="input_form" class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <div class="field">
      <%= label :category_id, "Category" %><br>
      <%= select_tag(:category, options_for_select(Category.dropdown_options, :selected => Category.selected(@category))) %>
    </div>

    <div class="field">
      <%= label :brand_id, "Brand" %><br>
      <%= select_tag(:brand, options_for_select(Brand.dropdown_options, :selected => Brand.selected(@brand))) %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description, "Description (en)" %><br>
      <%= f.text_area :description_en, :rows => 6 %>
    </div>
    <div class="field">
      <%= f.label :description, "Description (bs)" %><br>
      <%= f.text_area :description_bs, :rows => 6 %>
    </div>
    <div class="field">
      <%= f.label :price%><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :discount %><br>
      <%= f.text_field :discount %>
    </div>
    <div class="field">
      <%= f.label :avatar, "Images" %>
      <% if @edit %>
        <% if @product.product_images.any? %>
          <table style="margin-top:5px; margin-bottom:10px;">
          <% @product.product_images.each do |image|%>
            <tr>
              <td style="padding-left: 10px;"><a href="<%= image.avatar.url %>"><%= image.avatar_file_name %></a></td>
              <td style="padding-left: 10px;"><a data-confirm="Are you sure?" class="delete_image" data-remote="true" rel="nofollow" data-method="delete" href="<%= product_image_path(image) %>"><span class="glyphicon glyphicon-remove" style="color: #545454;"></span></a></td>
              </tr>
          <% end %>
          </table>
        <% end %>
      <% end %>
      <%= f.file_field :image,  :multiple => true %>
  
    </div>
    <div class="actions">
      <%= f.submit "Submit", :id => "submit_form" %>
    </div>
  </div>
<% end %>

<script>
$(function() {
  var category = $("#category");
  var category_sel = category.value;
  var product_title = $("#product_title");
  var product_price = $("#product_price");
  var submit = $("#submit_form");
  // Functions
  function show_warning(field) {
    field.css("border-color", "#dd4b39"); 
    var warning_label = null;
    if (locale  == "bs")
      warning_label = $("<p></p>").text("Ovo polje ne može ostati prazno.");
    else 
      warning_label = $("<p></p>").text("This field can't be empty.");
    warning_label.attr("class","warning");
    warning_label.css("color","#dd4b39");
    field.parent().append(warning_label);
  }
  function remove_warning(field) {
    field.parent().children("p").remove(".warning");
    field.css("border-color", "#b7b7b7");
  }
  function validate_field(field) {
    var number_of_children = field.parent().children().length;
    if (!field.val()) {
      if(number_of_children == 3) show_warning(field);
    }
    else {
      if (number_of_children > 3) remove_warning(field);
    }
  }
  product_title.blur(function(){
    validate_field($(this));
  });
  product_price.blur(function(){
    validate_field($(this));
  });
  // Onsubmit validation
  $("form").submit(function() {
    var has_empty = false;
    $("#product_title, #product_price", this).each(function() {
      if(!$(this).val()) {
        has_empty = true;
        validate_field($(this));      
      }
    });
    if (has_empty)  {
      return false;
    }
    return true;
  });
});
</script>