<br><br><br>
<div id="section_title"><%= @product.title %>
</div>
<div id="image">
	<%= image_tag(@product.image_url) %>
</div>
<div id="description">
<p>
	<strong>Kategorija:</strong>
    <%= @product.category.name %>
</p>
<p>
  <strong>Opis:</strong>
  <%= sanitize(@product.description) %>
</p>

<p>
  <strong>Cijena:</strong>
  <%= @product.price %> KM
</p>
<% unless session[:role] == 'Admin' %>
	 <div id="entry-button">
          <%= button_to t('add_to_cart'), line_items_path(product_id: @product), remote: true, class: 'cart_button' %>
     </div>
<%end%>
</div>

