<div id="section_title">
  <%= @product.title %>
</div>
<div id="image" class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
  <ul class="bxslider">
    <% @product.product_images.each do |product_image| %>
      <li><%= image_tag product_image.avatar.url(:large) %></li>
    <% end %>
  </ul>
  <div id="bx-pager" class="hidden-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
    <% @product.product_images.each do |product_image| %>
      <a data-slide-index="<%= @product.product_images.index(product_image)%>" href="">
        <%= image_tag product_image.avatar.url(:icon) %>
      </a>
    <% end %>
  </div>
</div>

<div id="description" class="col-xs-10 col-sm-6 col-md-5 col-lg-5">

    <% if flash[:notice] %>
      <div class="warning warning-success" style="color:rgba(57, 128, 221, 0.87);font-size:13px;">
        <%= flash[:notice] %>
        <br><br>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="warning warning-error" style="color:#dd4b39;font-size:13px;">
        <%= flash[:alert] %>
        <br><br>
      </div>
    <% end %>

  <p>
  	<strong><%= t('category') %>:</strong>
      <%= link_to @product.category.name, category_path(@product.category), class: "product_category_link" %>
  </p>
  <br>
  <p>
    <strong><%= t('description') %>:</strong>
    <%= sanitize(@product.description) %>
  </p>
  <br>
  <% unless @product.brand.nil? %>
    <p>
      <strong>Brand:</strong>
        <%= @product.brand.name %>
    </p>
    <br>
  <% end %>
  <p>
    <strong><%= t('price') %>:</strong>
    </p><p>
    <% if @product.discount %>
      <span class="price-old"><span class="price"><%= @product.price %> KM</span></span>
      <span class="discount"><%= @product.discount.to_i %>%</span>
      <span class="price_discount"><%= @product.sale_price %> KM </span>
    <% else %>
      <span class="price"><%= @product.price %> KM</span>
    <% end %>
  </p>
  <% unless session[:role] == 'Admin' %>
  	 <div id="entry-button">
        <%= button_to t('add_to_cart'), line_items_path(product_id: @product), remote: true, class: 'cart_button_buy' %>
            <div class="cart_button_loading"></div> 
       </div>
  <% else %>
    <p>
    <br>
      <strong>Actions:</strong><br>
      <%= link_to 'Edit', edit_product_path(@product), class: "product_category_link" %> &nbsp&nbsp
      <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: "product_category_link" %>
    </p>
  <%end%>
</div>

<style type="text/css">
  .bx-viewport {
    height: 290px;
  }
</style>

<script>
  $(document).ready(function() {
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager'
    });
  

    $(".cart_button_buy").click(function() {
      $(this).css("display","none");
      var element = $(".cart_button_buy").index(this);
      var loading = $(".cart_button_loading").get(element);
      $(loading).css("display","inline-block");
      $(loading).addClass("click_loading");
      var done = $(".cart_button_buy").get(element);
      setTimeout(function(){ 
        $(loading).addClass("click_checked").removeClass("click_loading");
      }, 2000);
      setTimeout(function(){
        $(loading).removeClass("click_checked");
        $(loading).css("display","none");
        $(".cart_button_buy").css("display","inline-block");
      }, 5000);
    });
});
</script>

