<div class="container-fluid">
<div class="row">
<div id="products_sale" class="col-xs-12 col-sm-10 col-md-9 col-lg-9">
<div class="row">
	<div id="main-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<%= t :new %>
		</div>
		<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		
			<div class="brands" style="visibility:hidden;">
				<% Brand.all.each do |brand| %>
					<span class="brand">
						<a href="#"><%= brand.name %></a>
					</span>
				<% end %>
			</div>

		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="search-icon">
				<input type="text" id="search" placeholder="<%= t('search') %>" />
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>
	</div>
	<div id="latest_products">
	<% cache ['store', Product.latest] do %>
	<div class="row">
		<% @products.each do |product| %>
			<% cache ['entry', product] do %>
				<div class="entry col-xs-5 col-sm-3 col-md-3 col-lg-3" id="product-<%=product.id%>">
					<div class="img_div">
						<a href="<%= product_path(product) %>">
							<% if product.product_images.any? %>
				              <%= image_tag(product.product_images.first.avatar.url(:medium)) %></td>
				            <% end %>
						</a>
					</div>
					<% if product.discount %>
						<div class="discount"><%= product.discount.to_i %>%</div>
					<% end %>
					<div class="price_line">
						<div class="title"><%= product.title %></div>
						<% if product.discount %>
							<span class="price-old"><span class="price"><%= product.price %>KM</span></span>
							<span class="price_discount"><%= product.sale_price %>KM </span>
						<% else %>
							<span class="price"><%= product.price %>KM</span>
						<% end %>
					</div>
					<% unless session[:role] == 'Admin' %>
						<%= button_to t('add_to_cart'), line_items_path(product_id: product), remote: true, class: 'cart_button_buy button_store hidden-xs' %>
						<div class="cart_button_loading hidden-xs"></div>	
					<%end%>
					<% if product.brand %>
						<input type="hidden" class="brand_name" value="<%= product.brand.name %>">
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
	<% end %>
	</div>
</div>
</div>
</div>
<script>
$(document).ready(function() {
	$(".cart_button_buy").click(function() {
		$(this).css("display","none");
		var element = $(".cart_button_buy").index(this);
		var loading = $(".cart_button_loading").get(element);
		$(loading).css("display","inline-block");
		$(loading).addClass("click_loading");
		var done = $(".cart_button_buy").get(element);
		setTimeout(function(){ 
			$(loading).addClass("click_checked").removeClass("click_loading");
		}, 2000);
		setTimeout(function(){
			$(loading).removeClass("click_checked");
			$(loading).css("display","none");
			$(done).css("display","none");
		}, 5000);
	});
	
	$(".entry").hover(function() {
		var mq = window.matchMedia( "(max-width: 991px)" );
		if(!mq.matches) {
			var element = $(".entry").index(this);
			var loading = $(".cart_button_loading").get(element);
			if($(loading).css("display") == "none") {
				var add_to_cart = $(".button_store").get(element);
				$(add_to_cart).css("display","inline-block");
			}
		}
	}, function() {
		var mq = window.matchMedia( "(max-width: 991px)" );
		if(!mq.matches) {
			var element = $(".entry").index(this);
			var add_to_cart = $(".button_store").get(element);
			$(add_to_cart).css("display","none");
		}
		}
	);

	$("#search").keyup(function(){
	    var val = $(this).val().toLowerCase();
	    $("#latest_products .entry").hide();
		$("#latest_products .entry").each(function(){
		 var text = $(this).find(".price_line .title").text().toLowerCase();
		 if(text.indexOf(val) != -1)
		 {
		 	$(this).show();
		 }
		});
	 });
});
</script>