<div id="products_sale">
	<div id="main-header"> POPULARNO </div>
	<div id="latest_products">
	<% cache ['store', Product.latest] do %>
		<% @products.each do |product| %>
			<% cache ['entry', product] do %>
				<div class="entry">
					<a href="<%= product_path(product) %>"><%= image_tag(product.image_url) %></a>

					<div class="price_line">
						<div class="title"><%= product.title %></div>
						<span class="price"><%= product.price %> KM </span>
					</div>

					<% unless session[:role] == 'Admin' %>
					<div id="entry-button">
						<%= button_to 'DODAJ U KORPU', line_items_path(product_id: product), remote: true, class: 'cart_button' %>
					</div>
					<%end%>
				 	</div>
			<% end %>
		<% end %>
	<% end %>
	</div>
	
</div>
