<div class="container-fluid">
<div class="row">
<div id="products_sale" class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
<div class="row">
	<div id="main-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><%= t :new %></div>
	</div>
	<div class="row">
	<div id="latest_products" class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
	<% cache ['store', Product.latest] do %>
	<div class="row">
		<% @products.each do |product| %>
			<% cache ['entry', product] do %>
				<div class="entry col-xs-5 col-sm-4 col-md-3 col-lg-3">
					<div class="row">
						<a href="<%= product_path(product) %>">
							<% if product.product_images.any? %>
				              <%= image_tag(product.product_images.first.avatar.url(:medium)) %></td>
				            <% end %>
						</a>
					</div>
					<div class="price_line">
						<div class="title"><%= product.title %></div>
						<span class="price"><%= product.price %> KM </span>
					</div>
					<% unless session[:role] == 'Admin' %>
						<%= button_to t('add_to_cart'), line_items_path(product_id: product), remote: true, class: 'cart_button_buy button_store hidden-xs' %>
						<div class="cart_button_loading hidden-xs"></div>	
					<%end%>
				 	</div>
			<% end %>
		<% end %>
	</div>
	<% end %>
	</div>
	</div>
</div>
</div>
</div>
<script>
	$(document).ready(function() {
	$(".cart_button_buy").click(function() {
		$(this).css("display","none");
		var element = $(".cart_button_buy").index(this);
		var loading = $(".cart_button_loading").get(element);
		$(loading).css("display","inline-block");
		$(loading).addClass("click_loading");
		var done = $(".cart_button_buy").get(element);
		setTimeout(function(){ 
			$(loading).addClass("click_checked").removeClass("click_loading");
		}, 2000);
		setTimeout(function(){
			$(loading).removeClass("click_checked");
			$(loading).css("display","none");
		}, 5000);
	});
});
</script>