<%= form_tag charges_path do %>

 <div id="section_title"> Narudžba i plaćanje </div>

  <div id="order_details">
    Adresa za račun <br><br>
    Ime i prezime: <%= @user.name %> <%=@user.surname %><br>
    Adresa: <%= @user.address.name %>, <%= @user.address.number%> <br>
    Grad: <%= @user.address.city.name %> <%= @user.address.city.postal_code %><br>
    Država <%= @user.address.city.country.name %><br>
  </div><br>
  <div id="order_details" style="margin-top:30px;">
    Adresa za dostavu <br><br>
    Ime i prezime: <%= @user.name %> <%=@user.surname %><br>
    Adresa: <%= @shipping_address.name %>, <%= @shipping_address.number%> <br>
    Grad: <%= @shipping_address.city.name %> <%= @shipping_address.city.postal_code %><br>
    Država <%= @shipping_address.city.country.name %><br>
  </div><br>
<div id="kupovina" style="margin-left: 220px; margin-top: 20px;">
  <span id="narudzba"> Narudžba  </span> &nbsp &nbsp &nbsp <span id="broj_proizvoda"><%= @cart.number_of_items %> proizvoda</span>
  <br><br>
  <div id="price_details">
    <span id="cijena">Cijena:</span> <span class="price"><%= @cart.total_price %> KM</span><br><br>
    <span id="cijena">Dostava:</span><span class="price"> 40 KM </span>
  </div><br>
  <div id="ukupno">
    <span id="cijena">Ukupno:</span> <span class="price"><%= (@cart.total_price) +40.0 %> KM</span><br><br>
  </div>
</div>

<div id="stripe-button">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_kzKfC1KtnaDRgEhugzaUKq6t"
          data-description="A month's subscription"
          data-amount="<%= ((@cart.total_price.to_i+40)*100) %>">
  </script>
</div>
<% end %>