<!DOCTYPE html>
<html>
<head>
  <title>ABHTech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class='<%= controller.controller_name%>'>
<div id="home-slider">
	<div id="header">
		<div id="header-top">
			<div id="banner"> 
				<%= link_to 'abhTech', store_path %>
			</div>
			<div id="menu">
				<ul>
					<% if session[:role] == 'Admin' %>
						<li><%= link_to 'PROIZVODI', products_path %></li> 
						<li><%= link_to 'PRIVILEGIJE', roles_path %></li> 
						<li><%= link_to 'KORISNICI', users_path %></li>
						<li><%= link_to 'KATEGORIJE', categories_path %></li>
					<% else %>
					  <% @categories.each do |category| %>
						<li><%= link_to category.name, category_path(category) %></li> 
					  <% end %>
					<% end %>
				</ul>
			</div>

		<% unless session[:role] == 'Admin' %>
			<div id="banner-right">
			<a href="<%=cart_path(@cart) %>"><%= image_tag("basket.png") %></a>
				<div id="cart"><%= @cart.number_of_items %></div>
			</div>
		<% end %>

			<div id="menu-right">
				<ul>
				<% if session[:user_id] %>
					<li><%= button_to 'LOGOUT', signout_path, method: :delete, :class => "sign_out" %></li>
				<% else %>
					<li><%= link_to 'LOGIN', signin_path %></li>  |
					<li><%= link_to 'REGISTER', new_user_path %></li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
	<div id="main">
		<%= yield %>
	</div>
<div id="footer">
	Copyright abhTech. All rights reserved.
</div>
</body>
</html>
